#root {
  .title {
    text-align: center;
    animation: bigAnimate 1s;
  }
}

@keyframes bigAnimate {
  0%{ transform: scale(1.3, 1.3)}
  10%{ transform: scale(1, 1)}
  20%{ transform: scale(1.25, 1.25)}
  30%{ transform: scale(1, 1)}
  40%{ transform: scale(1.2, 1.2)}
  50%{ transform: scale(1, 1)}
  60%{ transform: scale(1.15, 1.15)}
  70%{ transform: scale(1, 1)}
  80%{ transform: scale(1.1, 1.1)}
  90%{ transform: scale(1.05, 1.05)}
  100%{ transform: scale(1, 1)}
}
